<!-- Footer -->
<footer class="bg-gradient-to-r from-gray-800 to-gray-900 text-white py-6">
    <div class="container mx-auto flex items-center justify-between px-4">
        <!-- Copyright -->
        <p class="text-center md:text-left text-sm">
            &copy; 2025 Vanderson Andrade. Todos os direitos reservados.
        </p>

        <!-- Redes sociais -->
        <div class="flex space-x-4 mt-1 md:mt-0">
            <a href="https://www.linkedin.com/in/vanderson-andrade-22v" target="_blank" title="LinkedIn">
                <img src="assets/images/linkedin.png" alt="LinkedIn" class="w-6 h-6 hover:opacity-90 transition-opacity hover:scale-110 transform rounded-full">
            </a>
            <a href="https://github.com/VandinDev221" target="_blank" title="GitHub">
                <img src="assets/images/github.png" alt="GitHub" class="w-6 h-6 hover:opacity-90 transition-opacity hover:scale-110 transform rounded-full">
            </a>
            <a href="https://instagram.com/vandersonandrad__" target="_blank" title="Instagram">
                <img src="assets/images/instagram.jpg" alt="Instagram" class="w-6 h-6 hover:opacity-90 transition-opacity hover:scale-110 transform rounded-full">
            </a>
        </div>
    </div>

    <!-- Email para Contato -->
    <div class="text-center mt-2">
        <p class="text-sm">
            <strong>Contato:</strong> <a href="mailto:vandersongplay@gmail.com" class="text-white underline hover:text-indigo-300">vandersongplay@gmail.com</a>
        </p>
    </div>
</footer>
